@page
@model SupermarketWEB.Pages.Pay_Mode.CreateModel
@{
	ViewData["Title"] = "Create";
}
<h1>Create</h1>

<h4>Pay Mode</h4>
<hr />
<div class="container ">
	<div class="row">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="form-group col-6">
				<label asp-for="PayMode.Name" class="control-label"></label>
				<input asp-for="PayMode.Name" class="form-control" />
				<span asp-validation-for="PayMode.Name" class="text-danger"></span>
			</div>
				<div class="form-group col-6">
				<label asp-for="PayMode.Observation" class="control-label"></label>
				<input asp-for="PayMode.Observation" class="form-control" />
				<span asp-validation-for="PayMode.Observation" class="text-danger"></span>
			</div>
			</div>
			<div class="form-group mt-3 text-center">
				<input type="submit" value="Create" class="btn btn-success" />
				<a asp-page="Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}